{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
  <table class="table table-bordered">
    {% for item in all_items %}
      {% if item.completed %}
      <tr class="table-secondary">
        <td class="striker"><a href="{% url 'edit' item.id %}">{{ item.item }}</a></td>
        <td><a href="{% url 'uncross' item.id %}">Uncross</a></td>
        <td><a href="{% url 'delete' item.id %}">Delete</a></td>
      </tr>
      {% else %}
      <tr>
        <td><a href="{% url 'edit' item.id %}">{{ item.item }}</a></td>
        <td><a href="{% url 'cross_off' item.id %}">Cross Off</a></td>
        <td><a href="{% url 'delete' item.id %}">Delete</a></td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>
{% endblock %}
